@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

body {
  overflow: hidden;
  color: black;
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

canvas {
  width: 100vw;
  height: 100vh;
}

.logo {
  /* width: 20px;
  height: 20px; */
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 20px;
  /* transform: translate(-50%, -50%); */
}
.logoText {
  /* width: 20px;
  height: 20px; */
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 30px;
  margin-right: 20px;
  color: white;
  font-size: 40px;
  font-family: "Electrolize", sans-serif;
  font-weight: bold;
  /* transform: translate(-50%, -50%); */
}

.bgWelcome {
  /* background-image: url("./assets/bgWelcome.gif"); */
  background-color: #0000;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

.centreText {
  color: white;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Electrolize", sans-serif;
  font-style: normal;
  font-size: 35px;
}

.centresubtitle {
  color: white;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Electrolize", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
}
.typewriterDiv {
  display: flex;
  align-items: center;
  font-weight: bolder;
  margin-left: 10px;
}

.typewriterText {
  font-family: "Electrolize", sans-serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 10px;
  /* font-family: monospace; */
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(18), cursor 0.4s step-end infinite alternate;
  animation-iteration-count: infinite;
  font-size: 70px;
}

#arrowBlink {
  animation: cursor 0.4s step-end infinite alternate;
}

/* cursor linking */
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}

.exploreButton {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: #040404;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.1em;
  font-weight: bolder;
  padding: 10px 40px;
  transition: 0.5s;
  border: 3px solid white;
  border-radius: 40cm;

  /* font-size: 40px; */
}
.exploreButton:hover {
  letter-spacing: 0.25em;
  border-color: #d0f958;
}

#loginBack {
  margin-left: 100px;
  background-color: black;
  background-image: url("./assets/11login_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  top: 100px;
}

.loginDot {
  color: #1d8ff4;
  font-size: 100px;
  line-height: 0px;
}

.loginBG {
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-family: "Electrolize", sans-serif;
}
.LoginPage {
  padding: 25px 50px;
  font-family: "Electrolize", sans-serif;
  font-style: normal;
}

.LoginNavBar {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
.row {
  display: flex;
  align-items: center;
}

.signUpPart {
  margin-left: 100px;
}

.NameInput1 {
  margin-left: 100px;
  margin-top: 35px;
  position: relative;
  background-color: #272a37;
  border-radius: 17px;
  width: 165px;
  padding-right: 25px;
  padding-left: 27px;
}
.NameInput2 {
  margin-left: 30px;
  margin-top: 35px;
  position: relative;
  background-color: #272a37;
  border-radius: 17px;
  width: 165px;
  padding-right: 25px;
  padding-left: 27px;
}
.nameTextField {
  background-color: transparent;
  color: white;
  border: 0;
  height: 40px;
  width: 120px;
  border-radius: 12px;
  padding-right: 27px;
  padding-top: 15px;
  font-size: 17px;
  font-weight: bold;
  outline: none;
  font-family: "Electrolize", sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  position: relative;
  caret-color: transparent;
}

.NameInput1:focus-within {
  border: 3px solid #1d8de5;
}
.NameInput2:focus-within {
  border: 3px solid #1d8de5;
}

.floating-label {
  position: absolute;
  top: 50%;
  left: 27px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
  pointer-events: none;
  transition: all 0.3s ease;
}

/* When the input is focused or has text, move the label above */
.floating-input:focus + .floating-label,
.floating-label.active {
  top: 18px;
  left: 27px;
  font-size: 10px;
  color: #555;
}
.EmailInput,
.PasswordInput {
  margin-left: 100px;
  margin-top: 18px;
  position: relative;
  background-color: #272a37;
  border-radius: 17px;
  width: 438px;
  /* padding-right: 16px; */
  padding-left: 27px;
}
.EmailTextField,
.PasswordTextField {
  background-color: transparent;
  color: white;
  border: 0;
  height: 40px;
  width: 422px;
  border-radius: 12px;
  padding-right: 20px;
  padding-top: 15px;
  font-size: 17px;
  font-weight: bold;
  outline: none;
  font-family: "Electrolize", sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  position: relative;
  caret-color: transparent;
}

.EmailInput:focus-within {
  border: 3px solid #1d8de5;
}
.PasswordInput:focus-within {
  border: 3px solid #1d8de5;
}

.CreateAccount {
  position: absolute;
  /* top: 70%; */
  margin-top: 52px;
  margin-left: 217px;
  color: white;
  background: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-weight: bolder;
  padding: 17px 50px;
  transition: 0.5s;
  border: 3px solid white;
  border-radius: 40cm;
}
.CreateAccount:hover {
  border: 3px dashed #d0f958;
}

.hover-underline-animation {
  letter-spacing: 2px;
  margin-left: 150px;
  color: gray;
  display: inline-block;
  position: relative;
  /* color: #0087ca; */
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f500f5;

  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  background-color: #1d8de5;
}

.hover-underline-animation:hover {
  color: rgb(213, 213, 213);
}
.LoginPageGif {
  color: white;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-family: "Electrolize", sans-serif;
  font-style: normal;
  font-size: 35px;
}
